<div class="container">
  <br>
  <h3>Cadastrar Serviço</h3>
  <br>

  <form (ngSubmit)="onSubmit()" #serviceForm="ngForm">
      <div class="form-group row">
          <div class="col-4">
              <label for="tituloServico">Título</label>
              <input type="text" id="tituloServico" class="form-control" placeholder="Desktop com defeito" [(ngModel)]="servico.tituloServico" name="tituloServico" required>
              <!-- <div *ngIf="serviceForm.submitted && !serviceForm.form.controls.tituloServico?.valid" class="text-danger">
                  Título é obrigatório.
              </div> -->
          </div>
      </div>

      <div class="form-group row">
          <div class="col-4">
              <label for="cliente">Nome Cliente</label>
              <input type="text" id="cliente" class="form-control" placeholder="Marcelo Freitas"  name="cliente" required>
              <!-- <div *ngIf="serviceForm.submitted && !serviceForm.form.controls.cliente?.valid" class="text-danger">
                  Nome do cliente é obrigatório.
              </div> -->
          </div>
      </div>

      <div class="form-group row">
          <div class="col-4">
              <label for="valorServico">Valor</label>
              <input type="number" id="valorServico" class="form-control" placeholder="R$ 00,00" [(ngModel)]="servico.valorServico" name="valorServico" required>
              <!-- <div *ngIf="serviceForm.submitted && !serviceForm.form.controls.valorServico?.valid" class="text-danger">
                  Valor é obrigatório e deve ser numérico.
              </div> -->
          </div>
      </div>

      <div class="form-group row">
          <div class="col-4">
              <label for="status">Status</label>
              <select id="status" class="form-control" [(ngModel)]="servico.status" name="status">
                  <option value="Cadastrado">Cadastrado</option>
                  <option value="Em Andamento">Em Andamento</option>
                  <option value="Finalizado">Finalizado</option>
              </select>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-4">
              <label for="descricaoServico">Descrição</label>
              <textarea id="descricaoServico" class="form-control" rows="3" placeholder="Descrição do serviço..." [(ngModel)]="servico.descricaoServico" name="descricaoServico" required></textarea>
          </div>
      </div>

      <br>
      <div class="form-group row">
          <div class="col-4">
              <button type="submit" class="btn btn-info">Cadastrar</button>
              <button class="btn btn-success" (click)="retornar()" style="margin-left: 10px;">Cancelar</button>
          </div>
      </div>
  </form>
</div>

