<div class="container">
    <br>
    <h3>Inserir Novo Agendamento</h3>
    <br>

    <form (ngSubmit)="onSubmit()">

        <div class="form-group row">
            <div class="col-4">
                <label for="titulo_do_servico">Título do Serviço</label>
                <input type="text" class="form-control" id="titulo_do_servico" name="titulo_do_servico" [(ngModel)]="agendamento.titulo_do_servico" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" [(ngModel)]="agendamento.telefone" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="agendamento.email" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label for="data_e_hora_inicio">Data e Hora de Início</label>
                <input type="datetime-local" class="form-control" id="data_e_hora_inicio" name="data_e_hora_inicio" [(ngModel)]="agendamento.data_e_hora_inicio" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label for="data_e_hora_fim">Data e Hora de Fim</label>
                <input type="datetime-local" class="form-control" id="data_e_hora_fim" name="data_e_hora_fim" [(ngModel)]="agendamento.data_e_hora_fim" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label for="observacao">Observação</label>
                <input type="text" class="form-control" id="observacao" name="observacao" [(ngModel)]="agendamento.observacao" required>
                
            </div>
        </div>

        <br>
        <div class="form-group row">
            <div class="col-4">
                <button class="btn btn-info" type="submit">Salvar</button>
                <button (click)="retornar()" class="btn btn-success" style="margin-left: 10px;">Voltar</button>
            </div>
        </div>
    </form>
</div>
