<h2 class="text-center">Lista de Fornecedores</h2>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Razao Social</th>
                <th>Cnpj</th>
                <th>telefone</th>
                <th>Nome de Contato</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let fornecedor of fornecedores">
              <th scope="row">{{ fornecedor.codigo }}</th>
              <td>{{ fornecedor.razaoSocial }}</td>
              <td>{{ fornecedor.cnpj }}</td>
              <td>{{ fornecedor.telefone1 }}</td>
              <td>{{ fornecedor.nomeContato }}</td>
                <td>
                  <button class="btn btn-info" style="margin-left: 10px;"(click)="alterarFornecedor(fornecedor.codigo)">Alterar</button>
                  <button type="button" class="btn btn-danger" (click)="excluirFornecedor(fornecedor.codigo)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <button (click)="incluirFornecedor()"  class="btn btn-info" style="margin-left: 10px;">Inserir Novo Fornecedor</button>
    <button (click)="retornar()" class="btn btn-success" style="margin-left: 10px;">Voltar</button>
</div>
