<h2 class="text-center">Lista de Clientes</h2>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let cliente of clientes">
                <th scope="row">{{ cliente.codigo }}</th>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.telefoneCelular }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <button class="btn btn-info" style="margin-left: 10px;" (click)="alterarCliente(cliente.codigo)">Alterar</button>
                    <button type="button" class="btn btn-danger" (click)="excluirCliente(cliente.codigo)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <button (click)="incluirCliente()" class="btn btn-info" style="margin-left: 10px;">Inserir Novo Cliente</button>
    <button (click)="retornar()" class="btn btn-success" style="margin-left: 10px;">Voltar</button>
</div>
